*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: #111;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    flex-wrap: wrap;
}

.square{
    width: 16px;
    height: 16px;
    background-color: #1b1b1b;
    margin: 2px;
    box-shadow: 0 0 2px #000;
}
