* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    width: 426px;
    height: 426px;
    padding: 5px;
    background-color: grey;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    border-radius: 10px;
}

.square {
    margin: 2px;
    color: #111;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}

.score {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;

}

.game-over {
    font-size: 40px;
    text-decoration: underline;
}

.over-title {
    color: blueviolet;
    padding: 50px;
    border-radius: 15px;
    background-color: #FFF;
}

.scores {
    position: absolute;
    top: 150px;
    font-size: 50px;
    color: rgb(33, 111, 13);
    font-style: italic;
}

.btn {
    width: 120px;
    height: 40px;
    background-color: greenyellow;
    border: none;
    border-radius: 15px;
    position: absolute;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.step-back {
    top: 30px;
    left: 50px;
}

.start-game {
    background-color: silver;
    top: 30px;
    left: 200px;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__inner {
    width: 400px;
    height: 400px;
    background-color: #fff;
    opacity: 1;
    border-radius: 15px;
}
.hide{
    display: none;
}